@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://blog.educaweb.mx/wp-content/uploads/2016/10/iStock_42316690_SMALL.jpg" class="img-responsive"/>
    <h1>SISTEMA DE INVENTARIO</h1>
    <p class="lead">Este es el sistema de inventario donde podra encontrar los CRUDS, tambien las tablas, reportes y cargas masivas de los datos ingresados</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Crear</h2>
        <p>Entre la variedad de tablas sera posible que crees y un nuevo usuario, clientes al igual que nuevas compras, reportes y cargas masivas
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Actualizar</h2>
        <p>Tendras la opcion de consultar y actualizar tus datos.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Eliminar</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
       
    </div>
</div>