@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://blog.educaweb.mx/wp-content/uploads/2016/10/iStock_42316690_SMALL.jpg" class="img-responsive"/>
    <h1>SISTEMA DE INVENTARIO</h1>
    <p class="lead">Este es el sistema de inventario donde podra encontrar los CRUDS, tambien las tablas, reportes y cargas masivas de los datos ingresados</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ver más&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Crea</h2>
        <p>Podras crear y verificar  las tablas registradas
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Actualiza</h2>
        <p>Tendras la opcion de consultar y actualizar tus datos.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Elimina</h2>
        <p>Tambien podras eliminar datos en el crud ya creado</p>
       
    </div>
</div>