@model IEnumerable<Repositorio1.Models.proveedor>
<select class="form-control" id="id_Proveedor" name="id_Proveedor">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>
    }

</select>